<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ユーザ登録</title>
</head>
<body>
<div class="header-contents">
    <h2>新規ユーザー登録</h2>
</div>
<div class="main-contents">
    <form method="post" th:action="@{/user/add}" th:object="${formModel}">
        <!-- CSRFトークン -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="errorMessages">
            <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <div th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}"></div>
            <div th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"></div>
        </div>
        <div class="new-form-area">
            <label>アカウント名(半角英数字6文字以上20文字以下)</label>
            <input type="text" th:field="*{account}">
            <label>パスワード(記号を含む半角6文字以上20文字以下)</label>
            <input type="password" th:field="*{password}"/>
            <label>確認用パスワード</label>
            <input type="password" name="confirmationPassword" th:value="${confirmationPassword}">
            <label>氏名(10文字以下)</label>
            <input type="text" th:field="*{name}">
            <label>本社/支社名</label>
            <select th:field="*{branchId}">
                <option value="" selected></option>
                <option value="1">本社</option>
                <option value="2">A支社</option>
                <option value="3">B支社</option>
                <option value="4">C支社</option>
            </select><br/>
            <label>所属部名</label>
            <select th:field="*{departmentId}">
                <option value="" selected></option>
                <option value="1">総務人事部</option>
                <option value="2">情報管理部</option>
                <option value="3">営業部</option>
                <option value="4">技術部</option>
            </select><br/>
            <input class="registration-button" type="submit" value="登録"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <div class="return-button">
        <form th:action="@{/user/management}">
            <input type="submit" value="戻る"/>
        </form>
    </div>
</div>
</body>
</html>