<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>投稿編集</title>
</head>
<body>
<!--<div class="header-contents">-->
<!--    <h2>新規投稿</h2>-->
<!--    <th:block class="loginUser" th:switch="${loginUser.branchId}">-->
<!--        <span th:case=1 th:text="本社"></span>-->
<!--        <span th:case=2 th:text="A支社"></span>-->
<!--        <span th:case=3 th:text="B支社"></span>-->
<!--        <span th:case=4 th:text="C支社"></span>-->
<!--    </th:block>-->
<!--    /-->
<!--    <th:block class="loginUser" th:switch="${loginUser.departmentId}">-->
<!--        <span th:case=1 th:text="人事部"></span>-->
<!--        <span th:case=2 th:text="広報部"></span>-->
<!--        <span th:case=3 th:text="営業部"></span>-->
<!--        <span th:case=4 th:text="技術部"></span>-->
<!--    </th:block>-->
<!--    /-->
<!--    <span class="loginUser" th:text="${loginUser.account}"></span>-->
<!--</div>-->
<div class="main-contents">
    <form method="post" th:action="@{/message/update/{id}(id=${formModel.id})}" th:object="${formModel}">
        <!-- CSRFトークン -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="errorMessages">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
            <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
        </div>
        <div class="new-form-area">
            <label>タイトル(30文字以内)</label>
            <input type="text" size="30" th:field="*{title}"/>
            <label>投稿内容(1000文字以内)</label>
            <textarea class="text-box" th:field="*{text}"></textarea>
            <label>カテゴリ(10文字以内)</label>
            <input type="text" th:field="*{category}"/><br/>
            <input type="hidden" th:field="*{userId}">
            <input class="registration-button" type="submit" value="更新"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <div class="return-button">
        <form th:action="@{/}">
            <input type="submit" value="戻る"/>
        </form>
    </div>
</div>
</body>
</html>