<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
    <h2>新規投稿</h2>
</div>
<div class="main-contents">
    <form method="post" th:action="@{/message/add}" th:object="${formModel}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <div class="errorMessages" th:if="${#fields.hasAnyErrors()}">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
            <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
        </div>
        
        <div class="new-form-area">
            <label>タイトル</label>
            <input type="text" th:field="*{title}"/>
            
            <label>投稿内容</label>
            <textarea class="text-box" th:field="*{text}"></textarea>
            
            <label>カテゴリ</label>
            <input type="text" th:field="*{category}"/>
            
            <input class="registration-button" type="submit" value="登録"/>
        </div>
    </form>
</div>
<div class="footer-contents">
    <div class="return-button">
        <form th:action="@{/}">
            <input type="submit" value="戻る"/>
        </form>
    </div>
</div>
</body>
</html>